<div class="routes">
    <h1>Counted Greetings</h1>
    
    <h4>Hello, {{userName}} has been greeted {{number}} times</h4>

    <a href="/greeted">Greeted Users</a>
    <a href="/">Click here to go to Home screen</a>
</div>