<div class="routes">
    <h1>Users greeted</h1>
        <div class="guser">
            {{#each names}}
            <ul>
                <li><a href="/counter/{{this.user_name}}">{{this.user_name}}</a><li>
            <ul>
            {{/each}}
        </div>
    <a href="/">Click here for Home screen</a>
</div>