.container{
    background-color: burlywood;
    width: 80%;
    margin-left: auto;
    margin-right: auto
}
h1{
    padding-top: 2em;
    text-align: center;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.textbox{
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.count{
    font-size: 35px;
    padding-left: 0.2em;
}
.radiobtn,.buttons2{
    text-align: center;
    padding-top: 1em;
}
.rbutton{
    margin-bottom: 1em;
}
h2{
    text-align: center;
    padding-bottom: 2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }
  li{
    padding: 0.2em;
  }
.errors{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.error{
    text-align: center;
    color: red;
    /* background-color: #ffc107; */
    /* color: #333; */
    /* padding: 10px; */
    text-align: center;
    font-weight: bold;
}
.routes{
    text-align: center;
    padding-bottom: 3em;
}
.g{
    padding: 3em;
}
@media (max-width:800px) {
    .container{
        width: 90%;
        background-color: #e9edc9;
    }
    .buttons{
        padding-top: 1em;
        text-align: center;
    }
    .rbutton, .gbutton{
        background-color: lightgoldenrodyellow;
        margin-bottom: 2em;
    }
    
}
@media (min-width:900px){
    .buttons{
        text-align: center;;
        padding-top: 1em;
    }

}
